.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  color: #090909;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.catalogue-item {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.catalogue img {
  border-radius: 50% / 20%;
  max-width: 100%;
}
